#projects-container {
  min-height: 100vh;
  background-color: theme("colors.primaryDarkBlue");
}

#view-all div:nth-child(1) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 35px;
  border-color: transparent transparent theme("colors.gray.300") transparent;
  content: "";
  left: 0px;
  top: 0;
}

#view-all div:nth-child(3) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 35px 0 0;
  border-color: theme("colors.gray.300") transparent transparent transparent;
  content: "";
  right: -35px;
  top: 0;
}

.projectImg {
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -moz-transition: 1s filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
  transition: 1s filter linear, 1s -webkit-filter linear;
  transition-property: filter, -webkit-filter;
}

.projectImg:hover {
  filter: none !important;
}

.projectImg:hover + div.leftBorder {
  top: 10px !important;
  left: 10px !important;
}

.projectImg:hover + div.rightBorder {
  top: 10px !important;
  right: 10px !important;
}

@media only screen and (max-width: 880px) {
  .projectImg {
    filter: none !important;
  }

  .projectImg {
    width: 100% !important;
    flex-grow: 1;
  }

  .projectImg:hover {
    filter: none !important;
  }
  .description {
    background-color: transparent !important;
  }
}

/* above 880px */
@media only screen and (min-width: 880px) {
  .bottomDiv {
    background-color: transparent !important;
  }
}
