#quote-top {
  animation: increase-margin-bottom 1s ease-in-out 10s forwards;
}

#quote-top p {
  animation: top-p-animation 1s ease-in-out 2s forwards;
  transform: translateY(-20px);
  opacity: 0;
}

#quote-bottom p {
  transform: translateY(20px);
  opacity: 0;
  animation: bottom-p-animation 1s ease-in-out 2s forwards;
}

#quote-line span:nth-child(1) {
  background-color: theme("colors.accent");
  width: 3px;
  height: 3px;
  margin-right: 1px;
}

#quote-line span:nth-child(2) {
  background-color: theme("colors.accent");
  width: 30vw;
  height: 1px;
  animation: increase-line-width 600ms ease-in-out 9s forwards;
}

#quote-line span:nth-child(3) {
  background-color: theme("colors.accent");
  width: 3px;
  height: 3px;
  margin-left: 1px;
}

@keyframes increase-line-width {
  0% {
    width: 30vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes increase-margin-bottom {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 100vh;
  }
}

@keyframes top-p-animation {
  0% {
    transform: translateY(-20px);
    opacity: 0;
    letter-spacing: 16px;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    letter-spacing: 1;
  }
}

@keyframes bottom-p-animation {
  0% {
    transform: translateY(20px);
    opacity: 0;
    letter-spacing: 16px;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    letter-spacing: 1;
  }
}
