#navbar-links p:hover {
  color: #54c3cc;
  cursor: pointer;
  border-top: #54c3cc solid 2px;
  border-bottom: #54c3cc solid 2px;
}

.nav-item {
  transition: all 0.3s ease;
}

.nav-item:hover {
  cursor: pointer;
  background-color: theme("colors.gray.800");
}

.navbar-item-in-view {
  border-bottom: #41b7bf solid 2px;
}

.nav-left-triangle::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 74.5px 75px;
  border-color: transparent transparent theme("colors.gray.900") transparent;
  content: "";
  position: absolute;
  left: -75px;
}

.nav-left-triangle::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 74.5px 75px 0 0;
  border-color: theme("colors.gray.900") transparent transparent transparent;
  content: "";
  position: absolute;
  right: -75px;
}

@media only screen and (max-width: 1280px) {
  .nav-left-triangle::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 0px;
    bottom: 0px;
    border-bottom: 0px solid theme("colors.gray.200");
    border-right: 0px solid transparent;
    margin: 0px !important;
  }

  .nav-left-triangle::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 0px;
    bottom: 0px;
    border-bottom: 0px solid theme("colors.gray.200");
    border-right: 0px solid transparent;
    margin: 0px !important;
  }
}

.navList > li:nth-child(1) {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeDown 0.3s ease-in-out forwards;
  animation-delay: 11.1s;
  animation-direction: forwards;
}

.navList > li:nth-child(2) {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeDown 0.3s ease-in-out forwards;
  animation-delay: 11.3s;
  animation-direction: forwards;
}

.navList > li:nth-child(3) {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeDown 0.3s ease-in-out forwards;
  animation-delay: 11.5s;
  animation-direction: forwards;
}

.navList > li:nth-child(4) {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeDown 0.3s ease-in-out forwards;
  animation-delay: 11.7s;
  animation-direction: forwards;
}

/* fade down animation */
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
