#footer-container {
  background-color: theme("colors.primaryDarkBlue");
  min-height: 100vh;
}

.profileImg:hover {
  filter: none !important;
}

.profileImg:hover + .profileBorderDiv {
  top: 1.2rem !important;
  left: 1.2rem !important;
  z-index: 0 !important;
}
