#skills-container {
  min-height: 100vh;

  background-color: #0a192f;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2318335b' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%232b4d82' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%234267a5' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%236a86b8' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%2397a7c4' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23c0c8d6' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23E5E7EB' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20px; */
}

.folder {
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
  background-color: #112240;
  border-radius: 0 6px 6px 6px;
}

.folder-top {
  content: "";
  width: 50%;
  height: 12px;
  border-radius: 6px 0 0 0;
  background-color: #112240;
  position: absolute;
  top: -12px;
  left: 0px;
}

.folder-top::after {
  position: absolute;
  right: -19px;
  top: 0;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #112240;
}
