@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Valorant";
  src: local("Valorant"), url(./assets/Valorant.ttf) format("truetype");
}

@font-face {
  font-family: "Calibre";
  src: url(./assets/calibre/CalibreRegularItalic.otf) format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: url(./assets/calibre/CalibreRegular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(./assets/calibre/CalibreSemibold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "'Inter', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-200;
  color: theme("colors.gray.900");
  background-color: theme("colors.primaryDarkBlue");
}

.App {
  background-color: theme("colors.primaryDarkBlue");
}

#waifu-tips {
  display: none !important;
}

body,
html {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

#waifu {
  display: none;
}

#waifu-tool span:nth-child(1) {
  display: none;
}

#waifu {
  z-index: 998;
}

.accentButton:hover {
  background-color: rgba(65, 183, 191, 0.3) !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  padding-right: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #6c82b9;
  border-radius: 8px;
  margin-right: 2px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 20px;
}
