@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Valorant";
  src: local("Valorant"), url(./assets/Valorant.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gray-200;
  color: theme("colors.gray.900");
}

#waifu-tips {
  display: none !important;
}

body,
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

#waifu {
  display: none;
}

#waifu-tool span:nth-child(1) {
  display: none;
}
